<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container">
    <div class="jumbotron mt-5">
      <h1 class="display-4">Welcome, <%= name_id %>!</h1>
      <p class="lead">This is a demonstration of SAML vulnerabilities.</p>
      <hr class="my-4">
      <p><a class="btn btn-danger" href="/xss?input=%3Cscript%3Ealert('XSS')%3C/script%3E">XSS Vulnerability</a></p>
      <p><a class="btn btn-warning" href="/user?id=1%20OR%201=1">SQL Injection Vulnerability</a></p>
      <footer class="mt-5">
        <p class="text-center">Lab created by <strong>Dyst0rti0n</strong></p>
        <p class="text-center"><a href="https://github.com/Dyst0rti0n" target="_blank">GitHub: Dyst0rti0n</a></p>
      </footer>
    </div>
  </div>
</body>
</html>
